Repository LucRome/SWE_Semester4, pull requests merged in 2021-05, with the labels that each got.

#92 Backend/submission deadline
  eCourse_backend/fileexchange/forms.py
  eCourse_backend/fileexchange/urls.py
  eCourse_backend/fileexchange/views.py
Labels: Backend

#87 Datetimeinput
  eCourse_backend/fileexchange/forms.py
Labels: Backend, Enhancement

#96 Improve the Templates regarding the Exercises
  eCourse_backend/courses/models.py
  eCourse_backend/eCourse_backend/static/Css/basic_definitions.css
  eCourse_backend/fileexchange/views.py
  eCourse_backend/groups.yml
  eCourse_backend/templates/file_exchange/alter_exercise.html
  eCourse_backend/templates/file_exchange/create_exersice.html
  eCourse_backend/templates/file_exchange/deleted_exersice.html
  eCourse_backend/templates/forms/fields.html
Labels: Frontend

#95 Redirects for the homepages
  eCourse_backend/courses/urls.py
  eCourse_backend/courses/views.py
  eCourse_backend/eCourse_backend/views.py
  eCourse_backend/fileexchange/views.py
  eCourse_backend/templates/courses/edit_course.html
  eCourse_backend/templates/file_exchange/alter_exercise.html
Labels: Backend, Frontend

#93 User creation: Communicate password
  eCourse_backend/eCourse_backend/static/JS/set_random_pw.js
  eCourse_backend/eCourse_backend/static/JS/user_data_print.js
  eCourse_backend/templates/admin/users/iframes/create_user/create_user_template.html
  eCourse_backend/templates/admin/users/iframes/create_user/print_user_information.html
  eCourse_backend/users/forms.py
  eCourse_backend/users/views.py
Labels: Backend, Bug, Enhancement, Frontend

#100 Exercise site
  eCourse_backend/eCourse_backend/views.py
  eCourse_backend/fileexchange/urls.py
  eCourse_backend/fileexchange/views.py
  eCourse_backend/templates/courses/detail.html
  eCourse_backend/templates/courses/edit_course.html
  eCourse_backend/templates/file_exchange/iframes/upload_expired.html
  eCourse_backend/templates/file_exchange/iframes/upload_site.html
  eCourse_backend/templates/file_exchange/lecturer_exersice.html
  eCourse_backend/templates/file_exchange/student_exersice.html
  eCourse_backend/templates/student/navbar_content.html
Labels: Frontend

#98 Design rework
  eCourse_backend/eCourse_backend/static/Css/basic_definitions.css
  eCourse_backend/eCourse_backend/static/JS/iframe_size.js
  eCourse_backend/fileexchange/views.py
  eCourse_backend/templates/admin/users/administration.html
  eCourse_backend/templates/admin/users/iframes/create_user/create_lecturer.html
  eCourse_backend/templates/admin/users/iframes/create_user/create_officeuser.html
  eCourse_backend/templates/admin/users/iframes/create_user/create_student.html
  eCourse_backend/templates/admin/users/iframes/create_user/create_user_template.html
  eCourse_backend/templates/admin/users/iframes/edit_user_modal.html
  eCourse_backend/templates/admin/users/iframes/edit_user_modalcontent.html
  eCourse_backend/templates/admin/users/iframes/lecturer_list.html
  eCourse_backend/templates/admin/users/iframes/staff_admin_list.html
  eCourse_backend/templates/admin/users/iframes/student_list.html
  eCourse_backend/templates/base.html
  eCourse_backend/templates/courses/create_course.html
  eCourse_backend/templates/courses/deleted_course.html
  eCourse_backend/templates/courses/edit_course.html
  eCourse_backend/templates/courses/iframes/course_lecturer_officer.html
  eCourse_backend/templates/courses/iframes/course_student.html
  eCourse_backend/templates/courses/overview.html
  eCourse_backend/templates/file_exchange/alter_exercise.html
  eCourse_backend/templates/file_exchange/create_exersice.html
  eCourse_backend/templates/file_exchange/deleted_exersice.html
  eCourse_backend/templates/file_exchange/iframes/upload_expired.html
  eCourse_backend/templates/file_exchange/iframes/upload_site.html
  eCourse_backend/templates/file_exchange/lecturer_exersice.html
  eCourse_backend/templates/file_exchange/student_exersice.html
  eCourse_backend/templates/file_exchange/upload_file.html
  eCourse_backend/templates/forms/bs4_text_form.html
  eCourse_backend/templates/forms/fields.html
  eCourse_backend/templates/forms/filter_form.html
  eCourse_backend/templates/home/home_auth.html
  eCourse_backend/templates/registration/login.html
Labels: Enhancement, Frontend

#99 Forms labels
  eCourse_backend/courses/forms.py
  eCourse_backend/fileexchange/forms.py
  eCourse_backend/templates/home/home_auth.html
  eCourse_backend/users/forms.py
Labels: Enhancement, Frontend

#106 Documentation anleitung
  swe_doc/benutzeranleitung/ads/cover.tex
  swe_doc/benutzeranleitung/content/acronyms.tex
  swe_doc/benutzeranleitung/content/appendix.tex
  swe_doc/benutzeranleitung/content/chapter/01.tex
  swe_doc/benutzeranleitung/content/chapter/02.tex
  swe_doc/benutzeranleitung/content/chapter/03.tex
  swe_doc/benutzeranleitung/content/chapter/04.tex
  swe_doc/benutzeranleitung/content/chapter/05.tex
  swe_doc/benutzeranleitung/content/glossary.tex
  swe_doc/benutzeranleitung/images/aufgabe_bearbeiten.png
  swe_doc/benutzeranleitung/images/aufgabe_bearbeiten_dozent.png
  swe_doc/benutzeranleitung/images/aufgabe_erstellen_dozent.png
  swe_doc/benutzeranleitung/images/aufgabe_erstellen_erfolgreich.png
  swe_doc/benutzeranleitung/images/aufgabe_student.png
  swe_doc/benutzeranleitung/images/cover/logo_eCourse.png
  swe_doc/benutzeranleitung/images/filter_userverwaltung.png
  swe_doc/benutzeranleitung/images/kurs_anlegen_verwaltungsangestellter.png
  swe_doc/benutzeranleitung/images/kurs_ausgeklappt_verwaltungsangestellter.png
  swe_doc/benutzeranleitung/images/kurs_bearbeiten_erfolgreich.png
  swe_doc/benutzeranleitung/images/kurs_bearbeiten_verwaltungsangestellter.png
  swe_doc/benutzeranleitung/images/kurs_erstellen_dozent.png
  swe_doc/benutzeranleitung/images/kurs_gelöscht.png
  swe_doc/benutzeranleitung/images/kurse_ausgeklappt_dozent.png
  swe_doc/benutzeranleitung/images/kursübersicht_dozent.png
  swe_doc/benutzeranleitung/images/kursübersicht_student_ausgeklappt.png
  swe_doc/benutzeranleitung/images/kursübersicht_verwaltungsangestellter.png
  swe_doc/benutzeranleitung/images/login.png
  swe_doc/benutzeranleitung/images/logout.png
  swe_doc/benutzeranleitung/images/lösung_hochladen.png
  swe_doc/benutzeranleitung/images/pdf_hochladen_dozent.png
  swe_doc/benutzeranleitung/images/user_bearbeiten.png
  swe_doc/benutzeranleitung/images/user_erstellen.png
  swe_doc/benutzeranleitung/images/user_löschen_erfolgreich.png
  swe_doc/benutzeranleitung/images/userverwaltung.png
  swe_doc/benutzeranleitung/main.tex
  swe_doc/benutzeranleitung/settings/document.tex
Labels: Documentation

#115 Add files via upload
  .gitignore
  README.md
  eCourse_backend/users/management/commands/frontend_tests.py
  eCourse_backend/users/management/commands/setup_tests.py
  frontend_tests/readme.md
  frontend_tests/run_tests_helper.py
  frontend_tests/test_coursetest.py
  frontend_tests/test_createusertest.py
  frontend_tests/test_logintest.py
  frontend_tests/test_logouttest.py
Labels: Frontend
